<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span ion-text>Restaurants</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="openFilterModal()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchKey" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="lightest-bg">


	<ion-list *ngIf="from !== 'home'">
	  <ion-item>
	    <ion-label class="fw700">Restaurant type:</ion-label>
	    <ion-select [(ngModel)]="proptype">
	      <ion-option value="">All categories</ion-option>
	      <ion-option value="Barbecue">Stadium Food</ion-option>
	    </ion-select>
	  </ion-item>
	</ion-list>

<!-- 	<div padding *ngIf="from !== 'home'">
	  <ion-segment [(ngModel)]="proptype">
	    <ion-segment-button value="">
	      All
	    </ion-segment-button>
	    <ion-segment-button value="sale">
	      For Sale
	    </ion-segment-button>
	    <ion-segment-button value="rent">
	      For Rent
	    </ion-segment-button>
	  </ion-segment>
	</div> -->

  <div *ngIf="viewMode === 'list'">
      <ion-card *ngFor="let restaurant of restaurants | termSearch:proptype:'tags'" margin-bottom>
        <div class="card-img-wrap">
          <ion-fab bottom right edge>
            <button ion-fab mini (click)="favorite(restaurant)">
              <ion-icon name="heart"></ion-icon>
            </button>
          </ion-fab>
          <img src="{{restaurant.thumbnail}}" tappable (click)="openRestaurantDetail(restaurant)">
          <span ion-text class="card-img-price fw700 text-black">
            {{ restaurant.tags }}
          </span>
          <span ion-text class="card-img-status fw500 text-white" [ngClass]="{'closed': restaurant.label === 'closed', 'open': restaurant.label === 'open'}">
            {{ restaurant.label }}
          </span>
        </div>
        <ion-card-content>
          <ion-card-title ion-text color="dark" class="fw700" tappable (click)="openRestaurantDetail(restaurant)" no-margin no-padding>
            {{restaurant.title}}
          </ion-card-title>
          <p ion-text color="primary" no-margin>
            {{restaurant.city}}, {{restaurant.state}} • <span ion-text class="fw700">{{ restaurant.price }}</span>
          </p>
          <hr>
          	<ion-badge color="secondary">
							<ion-icon name="star"></ion-icon>
	          	{{ restaurant.rating | number:'1.1' }}
	          </ion-badge>
        </ion-card-content>
      </ion-card>
  </div>

  <div *ngIf="viewMode === 'map'" style="width:100%;height:100%;" id="map"></div>

</ion-content>

<ion-footer padding>
    <ion-segment [(ngModel)]="viewMode">
        <ion-segment-button value="list">
            <ion-icon name="list"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="map" (ionSelect)="showMap()">
            <ion-icon name="map"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-footer>
