.dish {

  .card {
    width: auto;
    border-radius: 0;
    margin: 0;
  }

  ion-card img {
    max-height: inherit !important;
  }

  .dish-card {

    ion-card-content {
      padding: 0;
      background-color: map-get($colors, primary);
      color: #fff;
      text-align: center;
      box-shadow: inset 0 0 8rem rgba(0, 0, 0, .4);
      // padding-bottom: 28px;

      img {
        // margin-top: -100px;
        border-bottom: solid 4px color($colors, secondary);
        display: inline;
      }

      h2 {
        font-size: 2.45rem;
        margin-top: .5rem;
        color: #fff;
      }

      h3 {
        font-size: 1.5rem;
        color: #fff;
      }

      .picture-frame {
        width:100%;
        height:250px;
        overflow: hidden;
        position: relative;
      }
      .price {
        position: absolute;
        bottom: 0;
        right: 0;
        background:rgba(0, 0, 0, .6);
        color: #fff;
        padding: 10px;
        font-weight: bold;
      }
      .circle {
        font-size: 2em;
        margin-top: 0.5em;
      }
    }

  }

}
