<ion-list>
  <ion-item-sliding *ngFor="let message of messages">
      <button ion-item (click)="goToMessages()" [ngClass]="{'light-bg': !message.read}">
          <h2 [ngClass]="{'fw300': !message.read}">
              <ion-icon name="mail" color="primary" *ngIf="!message.read"></ion-icon>
              <ion-icon name="mail-open" color="primary" *ngIf="message.read"></ion-icon>
              {{message.title}}
          </h2>
          <p color="primary">{{message.senderName}} ∙ {{message.date | date: 'MM/dd/yyyy'}}</p>
      </button>
  </ion-item-sliding>
</ion-list>
